body {
    font-family: Arial;
    margin: 40px;
}

a {
    text-decoration: none;
    padding: 6px 12px;
    background: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-right: 6px;
}

table {
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}